/* components/Card.module.scss */
.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease, box-shadow 0.3s ease;
  filter: brightness(0);
  opacity: 0.5;

  // card content styling
  & > * {
    text-align: center;
    color: #333;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  // card title and paragraph
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  // hovered card
  &:hover {
    transform: translateY(50px) translateZ(200px) scale(1.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    filter: brightness(1);
    opacity: 1;
  }
  // 2 cards on the right of hovered card
  &:hover+* {
    transform: translateY(25px) translateZ(150px) rotateY(40deg);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    filter: brightness(0.5);
    opacity: 0.95;
  }
  &:hover+*+* {
    transform: translateY(10px) translateZ(50px) rotateY(15deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    filter: brightness(0.2);
    opacity: 0.9;
  }
  // 2 cards on the left of hovered card
  &:has(+*:hover) {
    transform: translateY(25px) translateZ(150px) rotateY(-40deg);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    filter: brightness(0.5);
    opacity: 0.95;
  }
  &:has(+*+*:hover) {
    transform: translateY(10px) translateZ(50px) rotateY(-15deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    filter: brightness(0.2);
    opacity: 0.9;
  }
}
