.Container {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0d2a43;
  background-color: transparent;

  * {
    color: #eee;
  }

  @keyframes rotateBox {
    0% {
      transform: rotate(-7deg);
      opacity: 0.25;
    }
    50% {
      transform: rotate(7deg);
      opacity: 0.75;
    }
    100% {
      transform: rotate(-7deg);
      opacity: 0.25;
    }
  }

  .Box {
    position: fixed;
    width: 100%;
    height: 100vh;
    border: 8px solid white;
    transform: rotate(-7deg);
    z-index: 1;
    animation: rotateBox 30s ease-in-out infinite;
  }

  .Animation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #0d2a43;
  }
}