$leftPosition: 55%;
$transitionTime: 1.2s cubic-bezier(0.25, 1, 0.5, 1);

.Carousel {
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  min-height: 750px;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: 800px) {
    height: 100%;
    min-height: 100vh;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .List {
    height: 100%;

    .Item {
      width: 120px;
      height: 120px;
      position: absolute;
      bottom: 150px;
      left: 100%;
      border-radius: 8px;
      overflow: hidden;
      z-index: 100;
      transform: translate(0, 0px);
      transition: all $transitionTime;

      @media screen and (max-width: 1200px) {
        bottom: 100px;
      }

      &.ItemButton {
        cursor: pointer;

        &:hover {
          &::after {
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
        transition: all $transitionTime;
      }

      .Images {
        padding: 0;
        width: 100%;
        height: 100%;

        .ImgWrapper {
          width: 100%;
          height: 100%;
          aspect-ratio: 4/3;

          .Img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all $transitionTime;
          }

          &:last-of-type .Img {
            width: 0;
            height: 0;
            opacity: 0;
            visibility: hidden;
          }
        }
      }

      &.MainItem {
        .Images {
          position: relative;

          @media screen and (max-width: 800px) {
            min-height: unset;
            gap: 1rem;
          }

          .ImgWrapper {
            display: inline-block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;

            .Img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all $transitionTime;
            }

            &:hover {
              &:has(.hasLink) {
                box-shadow: 0 -20px 10px -10px #ffd166, 0 20px 10px -10px #ef476f;
              }
              .Img {
                transform: scale(1.1);
              }
            }

            @media screen and (max-width: 800px) {
              margin-inline: auto;
              max-height: 30vh;
              width: calc(100vw) -100px;
              aspect-ratio: 4/3;

              .Img {
                width: calc(100% - 4rem);
                object-fit: contain;
              }
            }
          }
        }

        .Content {
          position: absolute;
          left: 2rem;
          top: 100%;
          transform: translateY(calc(0% + 1rem));

          @media screen and (max-width: 800px) {
            position: relative;
            top: 40px;
            left: 0;
            transform: translateY(0);
            width: 50%;
          }

          .Title {
            font-size: 50px;
            margin-bottom: 20px;
            max-width: 600px;

            &::before {
              width: 50px;
              height: 3px;
              margin-bottom: 20px;
            }

            &::after {
              font-size: 25px;
              top: -40px;
              left: 15px;
            }

            &.hasLink {
              @keyframes gradientText {
                0% {
                  background-position: 0% 50%;
                }
                50% {
                  background-position: 200% 50%;
                }
                100% {
                  background-position: 0% 50%;
                }
              }
              &:hover {
                background: linear-gradient(
                  90deg,
                  #ffffff,
                  #ffd166,
                  #ef476f,
                  #ffd166,
                  #ffffff
                );
                background-size: 400% auto;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: gradientText 4s linear infinite;
                &::after {
                  -webkit-text-fill-color: #ffffff;
                }
              }
            }
          }

          .Name {
            font-size: 20px;
            margin-bottom: 20px;
          }

          .Des {
            font-size: 16px;
            opacity: 1;
            display: block;
            width: 400px;
          }

          .LinkBtn {
            display: inline-block;
            margin-top: 1rem;
            color: #e6a700;
            font-weight: 700;
            padding: 0.5rem;
            border: 2px solid #e6a700;

            &:hover {
              color: #694d00;
              border-color: #694d00;
            }
          }
        }
      }

      @keyframes bigToSmall {
        from {
          width: 480px;
          height: auto;
          aspect-ratio: 4/3;
          left: 2rem;
          bottom: calc(100% - 4rem);
          transform: translateY(100%);
        }
        to {
          width: 120px;
          height: 120px;
          left: calc(#{$leftPosition});
          bottom: 150px;
        }
      }
      @keyframes bigToSmall_tablet {
        from {
          width: 480px;
          height: auto;
          aspect-ratio: 4/3;
          left: 2rem;
          bottom: calc(100% - 4rem);
          transform: translateY(100%);
        }
        to {
          width: 120px;
          height: 120px;
          left: calc(#{$leftPosition});
          bottom: 100px;
        }
      }

      @for $i from 1 through 4 {
        @keyframes slideRight#{$i} {
          from {
            left: calc(#{$leftPosition} + (4 - $i) * 140px);
          }
          to {
            left: calc(#{$leftPosition} + (5 - $i) * 140px);
          }
        }
      }

      @keyframes flyIn {
        from {
          width: 120px;
          height: 120px;
          left: calc(#{$leftPosition} + 4 * 140px);
          bottom: 150px;
        }
        to {
          width: 100%;
          height: 100%;
          left: 0;
          bottom: 0;
          border-radius: 0;
        }
      }

      &.slidePrev {
        &:nth-child(1) {
          display: block;
          animation: flyIn 1.2s ease-in-out 1 forwards;
          padding: 0;

          .Images {
            height: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;
            padding: 4rem 2rem 2rem;

            @media screen and (max-width: 800px) {
              grid-template-columns: 1fr;
              gap: 1rem;
            }

            .ImgWrapper {
              width: 100%;
              aspect-ratio: 4/3;
              overflow: hidden;

              .Img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0px;
              }

              &:last-child {
                .Img {
                  width: 100%;
                  height: 100%;
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }

          &::after {
            display: none;
          }
        }
        &:nth-child(2) {
          animation: bigToSmall 1.2s ease-in-out 1 forwards;

          @media screen and (max-width: 1200px) {
            animation: bigToSmall_tablet 1.2s ease-in-out 1 forwards;
          }
        }
        &:nth-child(3) {
          animation: slideRight4 1.2s ease-in-out 0.3s 1 forwards;
        }
        &:nth-child(4) {
          animation: slideRight3 1.2s ease-in-out 0.2s 1 forwards;
        }
        &:nth-child(5) {
          animation: slideRight2 1.2s ease-in-out 0.1s 1 forwards;
        }
        &:nth-child(n + 6) {
          animation: slideRight1 1.2s ease-in-out 1 forwards;
        }
        &:nth-child(6) {
          z-index: 2000;
        }
      }

      @keyframes smallToBig {
        from {
          width: 120px;
          height: 120px;
          left: calc(#{$leftPosition});
          bottom: 150px;
        }
        to {
          width: 100%;
          height: 100%;
          left: 0;
          bottom: 0;
          border-radius: 0;
        }
      }

      @for $i from 1 through 4 {
        @keyframes slideLeft#{$i} {
          from {
            left: calc(#{$leftPosition} + $i * 140px);
          }
          to {
            left: calc(#{$leftPosition} + ($i - 1) * 140px);
          }
        }
      }

      @keyframes flyAway {
        from {
          width: 480px;
          height: auto;
          aspect-ratio: 4/3;
          border-radius: 8px;
          left: 2rem;
          bottom: calc(100% - 4rem);
          transform: translateY(100%);
        }
        to {
          width: 120px;
          height: 120px;
          left: calc(#{$leftPosition} + 4 * 140px);
          bottom: 150px;
        }
      }

      &.slideNext {
        &:nth-child(1) {
          height: 100%;
          animation: smallToBig 1.2s ease-in-out 1 forwards;

          .Images {
            height: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;
            padding: 4rem 2rem 2rem;

            @media screen and (max-width: 800px) {
              grid-template-columns: 1fr;
              gap: 1rem;
            }

            .ImgWrapper {
              width: 100%;
              aspect-ratio: 4/3;
              overflow: hidden;

              .Img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0px;
              }

              &:last-child {
                .Img {
                  width: 100%;
                  height: 100%;
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }

          &::after {
            display: none;
          }
        }

        &:nth-child(2) {
          animation: slideLeft1 1.2s ease-in-out 1 forwards;
        }

        &:nth-child(3) {
          animation: slideLeft2 1.2s ease-in-out 0.1s 1 forwards;
        }

        &:nth-child(4) {
          animation: slideLeft3 1.2s ease-in-out 0.2s 1 forwards;
        }

        &:nth-child(5) {
          animation: slideLeft4 1.2s ease-in-out 0.3s 1 forwards;
        }

        &:nth-child(n + 6) {
          animation: flyAway 1.2s ease-in-out 0.3s 1 forwards;
        }

        &:nth-child(6) {
          z-index: 2000;
        }
      }

      .Content {
        position: absolute;
        text-align: left;
        color: #fff;
        z-index: 3;
        left: 0;
        top: calc(0% + 1rem);
        width: 100%;
        padding: 10px;
        transition: all $transitionTime;

        .Title {
          font-size: 12px;
          text-transform: uppercase;
          color: #ffffff;
          font-weight: bold;
          line-height: 1;
          margin-bottom: 10px;
          transition: all $transitionTime;
          position: relative;

          &::before {
            content: "";
            display: block;
            height: 1px;
            width: 20px;
            background-color: #fff;
            margin-bottom: 10px;
          }

          &::after {
            content: attr(data-item);
            border-radius: 50%;
            color: #fff;
            font-size: 12px;
            position: absolute;
            top: -20px;
            left: 0px;
            z-index: 2;
            font-weight: 400;
          }
        }

        .Name {
          font-size: 10px;
          text-transform: uppercase;
          font-weight: 500;
          line-height: 1;
          transition: all $transitionTime;
          margin-bottom: 10px;
          color: #d36e10;
        }

        .Des {
          font-size: 16px;
          font-weight: 400;
          transition: all $transitionTime;
          opacity: 0;
          display: none;
        }
      }
    }
  }

  .Arrows {
    position: absolute;
    bottom: 50px;
    left: $leftPosition;
    width: calc(100% - #{$leftPosition} - 2%);
    z-index: 100;
    display: flex;
    gap: 5%;
    align-items: center;

    button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid rgb(255, 255, 255, 0.5);
      background-color: transparent;
      outline: none;
      font-size: 25px;
      font-weight: bold;
      transition: all $transitionTime;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        color: rgb(255, 255, 255, 0.5);
      }

      &:hover {
        border: 2px solid #ffffff;
        color: #ffffff;
        background-color: transparent;

        i {
          color: #ffffff;
        }
      }

      @media screen and (max-width: 1200px) {
        width: 32px;
        height: 32px;
        font-size: 20px;
      }

      @media screen and (max-width: 800px) {
        width: 24px;
        height: 24px;
        font-size: 16px;
      }

      @media screen and (max-width: 600px) {
        width: 16px;
        height: 16px;
        font-size: 12px;
      }
    }
  }

  .SlideNumber {
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    margin-left: auto;
    letter-spacing: 5px;
    opacity: 0;
    animation: animate 0.5s ease-in-out 0.3s 1 forwards;
  }

  .ProgressBarContainer {
    width: 60%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    overflow: hidden;

    .ProgressBar {
      height: 100%;
      width: 100%;
      background-color: #d36e10;
      transition: all $transitionTime;
    }
  }

  .DownArrow {
    position: absolute;
    top: 0.75rem;
    left: 50%;
    transform: translateX(-50%);
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 200;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform: rotate(180deg);
    }
  }

  @media screen and (max-width: 800px) {
    .List, .Arrows {
      display: none;
    }
  }
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

@keyframes runningTime {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}